<!DOCTYPE html>
<html lang="zh-CN" ng-app="indexApp">
<head>
	<meta charset="UTF-8">
	<title>带你飞上海网-点评</title>
	<link rel="stylesheet" type="text/css" href="style/reset.css">
	<link rel="stylesheet" type="text/css" href="style/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style/common.css">
	<link rel="stylesheet" type="text/css" href="style/comment.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="script/dafen.js"></script>
	<script type="text/javascript" src="script/app.js"></script>
	<script type="text/javascript" src="script/login.js"></script>
	<script type="text/javascript" src="script/comment.js"></script>
</head>
<body>
	<header ng-controller="doLogin">
		<div class="login-part">
			<ul ng-hide="isLogined">
				<li><a href="javascript:;" ng-click="InfoCenter()">个人中心</a></li>
				<li><a href="javascript:;" ng-click="showLogin()">登录</a></li>
				<li><a href="javascript:;" ng-click="showRegister()">注册</a></li>
			</ul>
			<ul ng-show="isLogined">
				<li><a href="javascript:;" ng-click="exit()">退出</a></li>
				<li><a href="javascript:;" ng-click="InfoCenter()">个人中心</a></li>
				<li><a href="javascript:;">Welcome! {{nickName}}</a></li>
			</ul>
		</div>
		<div class="search-part">
			<div class="logo"><a href="#"><img src="images/logo.jpg"></a></div>
			<div class="search">
				<div class="search-bar">
					<input type="text" id="searchInput" placeholder="搜索关键字" ng-model="keys" ng-change="search(keys)">
					<i class="search-btn fa fa-search"></i>
					<div class="search-result" id="searchResult">
						<ul>
							<li ng-repeat="item in srlist">
								<a href="detail.html?shopid={{item.shopid}}" class="clearfix" ng-show="item.isshop">
									{{item.shopname}}
									<span>{{item.special}}</span>
									<span>{{item.category}}</span>
								</a>
								<a href="travelDetail.html?travelid={{item.travelid}}" class="clearfix" ng-hide="item.isshop">
									{{item.title}}
									<span>游记</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="nav-part">
			<ul>
				<li><a href="javascript:;" class="main">全部分类</a></li>
				<li><a href="index.html" class="tab">首页</a></li>
				<li><a href="rank.html" class="tab">推荐</a></li>
				<li><a href="travelList.html" class="tab">游记</a></li>
				<li><a href="javascript:;" class="tab">论坛</a></li>
			</ul>
		</nav>
		<div class="login-modal" id="loginModal" style="display: none;">
			<h2>登录</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="username" placeholder="请输入用户名">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="userpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="login()">登录</button>
				<button class="btn" ng-click="close1()">取消</button>
			</div>
		</div>
		<div class="login-modal" id="registerModal" style="display: none;">
			<h2>快速注册</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="registername" placeholder="请输入用户名" ng-blur="check()">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="registerpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="register()">注册</button>
				<button class="btn" ng-click="close2()">取消</button>
			</div>
		</div>
	</header>
	<div class="container" ng-controller="setComment">
		<div ng-show="isShopComm">
			<h2>我要点评</h2>
			<div class="clearfix">
				<span>总体评价:</span>
				<ul id="chooseStars1" class="chooseStars0 clearfix">
					<li><a href="javascript:;">1</a></li>
					<li><a href="javascript:;">2</a></li>
					<li><a href="javascript:;">3</a></li>
					<li><a href="javascript:;">4</a></li>
					<li><a href="javascript:;">5</a></li>
				</ul>
			</div>
			<div class="clearfix">
				<span>位置:</span>
				<ul id="chooseStars2" class="chooseStars0 clearfix">
					<li><a href="javascript:;">1</a></li>
					<li><a href="javascript:;">2</a></li>
					<li><a href="javascript:;">3</a></li>
					<li><a href="javascript:;">4</a></li>
					<li><a href="javascript:;">5</a></li>
				</ul>
			</div>
			<div class="clearfix">
				<span>环境:</span>
				<ul id="chooseStars3" class="chooseStars0 clearfix">
					<li><a href="javascript:;">1</a></li>
					<li><a href="javascript:;">2</a></li>
					<li><a href="javascript:;">3</a></li>
					<li><a href="javascript:;">4</a></li>
					<li><a href="javascript:;">5</a></li>
				</ul>
			</div>
			<div class="clearfix">
				<span>性价比:</span>
				<ul id="chooseStars4" class="chooseStars0 clearfix">
					<li><a href="javascript:;">1</a></li>
					<li><a href="javascript:;">2</a></li>
					<li><a href="javascript:;">3</a></li>
					<li><a href="javascript:;">4</a></li>
					<li><a href="javascript:;">5</a></li>
				</ul>
			</div>
			<div class="clearfix">
				<span>评价:</span>
				<textarea id="content"></textarea>
			</div>
			<div class="clearfix">
				<span>上传图片:</span>
				<input type="file"  id="albums">
				<button class="btn btn0" ng-click="uploadIamge()">上传图片</button>
			</div>
			<div class="clearfix">
				<span>人均:</span>
				<input type="number"  id="percost">元
			</div>
		</div>
		<div ng-hide="isShopComm">
			<h2>我要评论</h2>
			<div class="clearfix">
				<span>评论:</span>
				<textarea id="content"></textarea>
			</div>
		</div>
		<button class="btn btn1" ng-click="submit()">提 交</button>
	</div>
	<footer>
		<div>@fantasydl-s-granduation-project</div>
	</footer>
</body>
</html>