<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>带你飞上海网-详情</title>
	<link rel="stylesheet" type="text/css" href="style/reset.css">
	<link rel="stylesheet" type="text/css" href="style/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style/common.css">
	<link rel="stylesheet" type="text/css" href="style/detail.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="http://cdn.bootcss.com/angular-ui-router/0.2.18/angular-ui-router.js"></script>
	<script type="text/javascript" src="script/app.js"></script>
	<script type="text/javascript" src="script/login.js"></script>
	<script type="text/javascript" src="script/getComment.js"></script>
</head>
<body>
	<header ng-controller="doLogin">
		<div class="login-part">
			<ul ng-hide="isLogined">
				<li><a href="javascript:;" ng-click="">服务中心</a></li>
				<li><a href="javascript:;" ng-click="showLogin()">登录</a></li>
				<li><a href="javascript:;" ng-click="showRegister()">注册</a></li>
			</ul>
			<ul ng-show="isLogined">
				<li><a href="javascript:;" ng-click="exit()">退出</a></li>
				<li><a href="javascript:;" ng-click="">服务中心</a></li>
				<li><a href="javascript:;">Welcome! {{userName}}</a></li>
			</ul>
		</div>
		<div class="search-part">
			<div class="logo"><a href="#"><img src="images/logo.jpg"></a></div>
			<div class="search">
				<div class="search-bar">
					<input type="text" class="" placeholder="搜索关键字">
					<i class="search-btn fa fa-search"></i>
				</div>
			</div>
		</div>
		<nav class="nav-part">
			<ul>
				<li><a href="javascript:;" class="main on">全部分类</a></li>
				<li><a href="index.html" class="tab">首页</a></li>
				<li><a href="" class="tab">推荐</a></li>
				<li><a href="" class="tab">游记</a></li>
				<li><a href="" class="tab">论坛</a></li>
			</ul>
		</nav>
		<div class="login-modal" id="loginModal" style="display: none;">
			<h2>登录</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="username" placeholder="请输入用户名">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="userpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="login()">登录</button>
				<button class="btn" ng-click="close1()">取消</button>
			</div>
		</div>
		<div class="login-modal" id="registerModal" style="display: none;">
			<h2>快速注册</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="registername" placeholder="请输入用户名">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="registerpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="register()">注册</button>
				<button class="btn" ng-click="close2()">取消</button>
			</div>
		</div>
	</header>
	<div class="container">
		<header>
			<h1>豫园</h1>
			<div class="comment clearfix">
				<span class="star-mark-m star4-m"></span>
				<span>300条评论</span>
				<dl>
					<dt>人均:</dt>
					<dd>50元</dd>
					<dt>内容:</dt>
					<dd>7.2</dd>
					<dt>环境:</dt>
					<dd>6.7</dd>
					<dt>划算:</dt>
					<dd>8.1</dd>
				</dl>
			</div>
			<div class="address">地址: </div>
			<div class="phone">电话: </div>
			<div class="more">
				<a href="javascript:;">更多信息<i class="fa fa-chevron-down"></i></a>
				<div>营业时间: </div>
				<div>商户介绍: </div>
			</div>
			<button class="btn"><i class="fa fa-pencil-square-o"></i> 写点评</button>
			<img src="images/yuyuan.jpg">
		</header>
		<section class="pic-show clearfix">
			<nav class="clearfix">
				<ul>
					<li><a href="javascript:;" class="on">推荐</a></li>
					<li><a href="javascript:;">环境</a></li>
					<li><a href="javascript:;">官方相册</a></li>
				</ul>
			</nav>
			<div class="pic-list">
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
			</div>
			<div class="pic-list" style="display: none;">
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
			</div>
			<div class="pic-list" style="display: none;">
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
				<div><img src="" alt="图片"></div>
			</div>
		</section>
		<section class="comment-list">
			<h2>点评</h2>
			<ul>
				<li>
					<img src="images/icon.jpg">
					<div class="floor-content">
						<h3><a href="">Yuki宝oO</a></h3>
						<div class="floor-comment">
							<span class="star-mark star4"></span>
							<dl>
								<dt>人均:</dt>
								<dd>50元</dd>
								<dt>内容:</dt>
								<dd>8</dd>
								<dt>环境:</dt>
								<dd>7</dd>
								<dt>划算:</dt>
								<dd>7.5</dd>
							</dl>
						</div>
						<p>
							豫园园内有穗堂、铁狮子、快楼、得月楼、玉玲珑、积玉水廊、听涛阁、涵碧楼、内园静观大厅、古戏台等亭台楼阁以及假山、池塘等四十余处古代建筑。三穗堂位于豫园正门处，清乾隆二十五年建。原为乐寿堂，清初曾被征为上海县衙办公之地，改建西园时重筑为三穗堂。
							仰山堂、卷雨楼位于三穗堂之后，与大假山隔池相望。清同治五年（1866年）建，底层称仰山堂，上层为卷雨楼，仰山堂共 5楹，后有回廊、曲槛临池、可小憩。望大假山景，池中倒影可鉴。
							萃秀堂位于大假山东北峭壁下，清乾隆二十五年 （1760年）始建，乾隆三十五年竣工。
　　					</p>
						<div class="detail-pics clearfix">
							<ul>
								<li><img src="" alt="图片"></li>
								<li><img src="" alt="图片"></li>
								<li><img src="" alt="图片"></li>
								<li><img src="" alt="图片"></li>
								<li><img src="" alt="图片"></li>
							</ul>
						</div>
						<div class="floor-bottom clearfix">
							<span>时间: 2016-04-10</span>
							<span><a href="">赞(11)</a></span>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</div>
	<footer>
		<div>@fantasydl-s-granduation-project</div>
	</footer>
	<script type="text/javascript" src="script/jquery-1.8.3.min.js"></script>
</body>
</html>