<!DOCTYPE html>
<html lang="zh-CN" ng-app="indexApp">
<head>
	<meta charset="UTF-8">
	<title>带你飞上海网-详情</title>
	<link rel="stylesheet" type="text/css" href="style/reset.css">
	<link rel="stylesheet" type="text/css" href="style/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style/common.css">
	<link rel="stylesheet" type="text/css" href="style/detail.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="script/app.js"></script>
	<script type="text/javascript" src="script/login.js"></script>
	<script type="text/javascript" src="script/getDetail.js"></script>
	<script type="text/javascript" src="script/commen.js"></script>
</head>
<body>
	<header ng-controller="doLogin">
		<div class="login-part">
			<ul ng-hide="isLogined">
				<li><a href="javascript:;" ng-click="InfoCenter()">个人中心</a></li>
				<li><a href="javascript:;" ng-click="showLogin()">登录</a></li>
				<li><a href="javascript:;" ng-click="showRegister()">注册</a></li>
			</ul>
			<ul ng-show="isLogined">
				<li><a href="javascript:;" ng-click="exit()">退出</a></li>
				<li><a href="javascript:;" ng-click="InfoCenter()">个人中心</a></li>
				<li><a href="javascript:;">Welcome! {{nickName}}</a></li>
			</ul>
		</div>
		<div class="search-part">
			<div class="logo"><a href="#"><img src="images/logo.jpg"></a></div>
			<div class="search">
				<div class="search-bar">
					<input type="text" id="searchInput" placeholder="搜索关键字" ng-model="keys" ng-change="search(keys)">
					<i class="search-btn fa fa-search"></i>
					<div class="search-result" id="searchResult">
						<ul>
							<li ng-repeat="item in srlist">
								<a href="detail.html?shopid={{item.shopid}}" class="clearfix" ng-show="item.isshop">
									{{item.shopname}}
									<span>{{item.special}}</span>
									<span>{{item.category}}</span>
								</a>
								<a href="travelDetail.html?travelid={{item.travelid}}" class="clearfix" ng-hide="item.isshop">
									{{item.title}}
									<span>游记</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="nav-part">
			<ul>
				<li><a href="javascript:;" class="main on">全部分类</a></li>
				<li><a href="index.html" class="tab">首页</a></li>
				<li><a href="rank.html" class="tab">推荐</a></li>
				<li><a href="travelList.html" class="tab">游记</a></li>
				<li><a href="javascript:;" class="tab">论坛</a></li>
			</ul>
		</nav>
		<div class="login-modal" id="loginModal" style="display: none;">
			<h2>登录</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="username" placeholder="请输入用户名">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="userpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="login()">登录</button>
				<button class="btn" ng-click="close1()">取消</button>
			</div>
		</div>
		<div class="login-modal" id="registerModal" style="display: none;">
			<h2>快速注册</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="registername" placeholder="请输入用户名">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="registerpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="register()">注册</button>
				<button class="btn" ng-click="close2()">取消</button>
			</div>
		</div>
	</header>
	<div class="container" ng-controller="getDetail">
		<header>
			<h1 ng-bind="detail.shopname"></h1>
			<div class="comment clearfix">
				<span class="star-mark-m star{{detail.score}}-m"></span>
				<span>{{detail.commentsum}}条评论</span>
				<dl>
					<dt>人均:</dt>
					<dd>{{detail.avg_cost}}元</dd>
					<dt>内容:</dt>
					<dd>{{detail.avg_score1}}</dd>
					<dt>环境:</dt>
					<dd>{{detail.avg_score2}}</dd>
					<dt>划算:</dt>
					<dd>{{detail.avg_score3}}</dd>
				</dl>
			</div>
			<div class="address">地址: {{detail.address}}</div>
			<div class="phone">电话: {{detail.phone}}</div>
			<div class="more" onclick="xFold()">
				<a href="javascript:;">更多信息<i class="fa fa-chevron-down"></i></a>
				<div>营业时间: {{detail.starttime}} -- {{detail.endtime}}</div>
				<div>商户介绍: </div>
			</div>
			<a href="comment.html?shopid={{detail.shopid}}" class="btn"><i class="fa fa-pencil-square-o"></i> 写点评</a>
			<img src="{{detail.cover}}.jpg">
		</header>
		<section class="pic-show clearfix">
			<nav class="clearfix">
				<ul>
					<li><a href="javascript:;" class="on" onclick="xShowList()">推荐</a></li>
					<li><a href="javascript:;" onclick="xShowList()">环境</a></li>
					<li><a href="javascript:;" onclick="xShowList()">官方相册</a></li>
				</ul>
			</nav>
			<div class="pic-list">
				<div ng-repeat="pic in detail.album"><img src="{{pic}}" alt="图片"></div>
			</div>
			<div class="pic-list" style="display: none;">
				<div ng-repeat="pic in detail.album"><img src="{{pic}}" alt="图片"></div>
			</div>
			<div class="pic-list" style="display: none;">
				<div ng-repeat="pic in detail.album"><img src="{{pic}}" alt="图片"></div>
			</div>
		</section>
		<section class="comment-list">
			<h2>点评</h2>
			<ul>
				<li ng-repeat="item in clist">
					<img src="{{item.icon}}">
					<div class="floor-content">
						<h3><a href="">{{item.username}}</a></h3>
						<div class="floor-comment">
							<span class="star-mark star{{item.score}}"></span>
							<dl>
								<dt>人均:</dt>
								<dd>{{item.percost}}元</dd>
								<dt>位置:</dt>
								<dd>{{item.score1}}</dd>
								<dt>环境:</dt>
								<dd>{{item.score2}}</dd>
								<dt>性价比:</dt>
								<dd>{{item.score3}}</dd>
							</dl>
						</div>
						<p>
							{{item.content}}
　　					</p>
						<div class="detail-pics clearfix">
							<ul>
								<li ng-repeat="pic in item.albums"><img src="{{pic}}" alt="图片"></li>
							</ul>
						</div>
						<div class="floor-bottom clearfix">
							<span>时间: {{item.date}}</span>
							<span><a href="javascript:;" ng-click="praise(item.commentid)">赞({{item.praise}})</a></span>
						</div>
					</div>
				</li>
			</ul>
		</section>
	</div>
	<footer>
		<div>@fantasydl-s-granduation-project</div>
	</footer>
	<script type="text/javascript" src="script/jquery-1.8.3.min.js"></script>
</body>
</html>