<!DOCTYPE html>
<html lang="zh-CN" ng-app="indexApp">
<head>
	<meta charset="UTF-8">
	<title>带你飞上海网-列表</title>
	<link rel="stylesheet" type="text/css" href="style/reset.css">
	<link rel="stylesheet" type="text/css" href="style/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style/common.css">
	<link rel="stylesheet" type="text/css" href="style/list.css">
	<script type="text/javascript" src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="script/app.js"></script>
	<script type="text/javascript" src="script/login.js"></script>
	<script type="text/javascript" src="script/getComment.js"></script>
	<script type="text/javascript" src="script/getshopList.js"></script></head>
<body>
	<header ng-controller="doLogin">
		<div class="login-part">
			<ul ng-hide="isLogined">
				<li><a href="javascript:;" ng-click="InfoCenter()">个人中心</a></li>
				<li><a href="javascript:;" ng-click="showLogin()">登录</a></li>
				<li><a href="javascript:;" ng-click="showRegister()">注册</a></li>
			</ul>
			<ul ng-show="isLogined">
				<li><a href="javascript:;" ng-click="exit()">退出</a></li>
				<li><a href="javascript:;" ng-click="InfoCenter()">个人中心</a></li>
				<li><a href="javascript:;">Welcome! {{nickName}}</a></li>
			</ul>
		</div>
		<div class="search-part">
			<div class="logo"><a href="#"><img src="images/logo.jpg"></a></div>
			<div class="search">
				<div class="search-bar">
					<input type="text" id="searchInput" placeholder="搜索关键字" ng-model="keys" ng-change="search(keys)">
					<i class="search-btn fa fa-search"></i>
					<div class="search-result" id="searchResult">
						<ul>
							<li ng-repeat="item in srlist">
								<a href="detail.html?shopid={{item.shopid}}" class="clearfix" ng-show="item.isshop">
									{{item.shopname}}
									<span>{{item.special}}</span>
									<span>{{item.category}}</span>
								</a>
								<a href="travelDetail.html?travelid={{item.travelid}}" class="clearfix" ng-hide="item.isshop">
									{{item.title}}
									<span>游记</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<nav class="nav-part">
			<ul>
				<li><a href="javascript:;" class="main on">全部分类</a></li>
				<li><a href="index.html" class="tab">首页</a></li>
				<li><a href="rank.html" class="tab">推荐</a></li>
				<li><a href="travelList.html" class="tab">游记</a></li>
				<li><a href="javascript:;" class="tab">论坛</a></li>
			</ul>
		</nav>
		<div class="login-modal" id="loginModal" style="display: none;">
			<h2>登录</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="username" placeholder="请输入用户名">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="userpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="login()">登录</button>
				<button class="btn" ng-click="close1()">取消</button>
			</div>
		</div>
		<div class="login-modal" id="registerModal" style="display: none;">
			<h2>快速注册</h2>
			<ul class="input-groups">
				<li>
					<label>用户名</label>
					<input type="text" id="registername" placeholder="请输入用户名" ng-blur="check()">
				</li>
				<li>
					<label>密码</label>
					<input type="password" id="registerpsw" placeholder="请输入密码">
				</li>
			</ul>
			<div class="btn-groups">
				<button class="btn" ng-click="register()">注册</button>
				<button class="btn" ng-click="close2()">取消</button>
			</div>
		</div>
	</header>
	<div class="container clearfix">
		<aside class="clearfix">
			<nav>
				<dl>
					<dt><a href="list.html?type1=景点">景点</a></dt>
					<dd><a href="list.html?type1=景点&type2=热门景点" class="hot">热门景点</a></dd>
					<dd><a href="list.html?type1=景点&type2=冷门景点">冷门景点</a></dd>
					<i class="fa fa-angle-right"></i>
					<span></span>
					<div class="detail">
						<h3>景点频道</h3>
						<ul>
							<li><a href="list.html?type1=景点&type2=自然风光">自然风光</a></li>
							<li><a href="list.html?type1=景点&type2=展馆展览">展馆展览</a></li>
							<li><a href="list.html?type1=景点&type2=游乐园">游乐园</a></li>
							<li><a href="list.html?type1=景点&type2=特色街区">特色街区</a></li>
							<li><a href="list.html?type1=景点&type2=古镇">古镇</a></li>
							<li><a href="list.html?type1=景点&type2=影视基地">影视基地</a></li>
						</ul>
					</div>
				</dl>
				<dl>
					<dt><a href="list.html?type1=美食">美食</a></dt>
					<dd><a href="list.html?type1=美食&type2=本帮菜">本帮菜</a></dd>
					<dd><a href="list.html?type1=美食&type2=自然风光" class="hot">特色小吃</a></dd>
					<i class="fa fa-angle-right"></i>
					<div class="detail">
						<h3>美食频道</h3>
						<ul>
							<li><a href="list.html?type1=美食&type2=火锅">火锅</a></li>
							<li><a href="list.html?type1=美食&type2=本帮菜">本帮菜</a></li>
							<li><a href="list.html?type1=美食&type2=面包甜点">面包甜点</a></li>
							<li><a href="list.html?type1=美食&type2=咖啡厅">咖啡厅</a></li>
							<li><a href="list.html?type1=美食&type2=自助餐">自助餐</a></li>
							<li><a href="list.html?type1=美食&type2=快餐">快餐</a></li>
							<li><a href="list.html?type1=美食&type2=韩国料理">韩国料理</a></li>
							<li><a href="list.html?type1=美食&type2=西餐">西餐</a></li>
							<li><a href="list.html?type1=美食&type2=烧烤">烧烤</a></li>
							<li><a href="list.html?type1=美食&type2=台湾菜">台湾菜</a></li>
							<li><a href="list.html?type1=美食&type2=川菜">川菜</a></li>
							<li><a href="list.html?type1=美食&type2=新疆菜">新疆菜</a></li>
							<li><a href="list.html?type1=美食&type2=清真菜">清真菜</a></li>
						</ul>
					</div>
				</dl>
				<dl>
					<dt><a href="list.html?type1=住宿">住宿</a></dt>
					<dd><a href="list.html?type1=住宿&type2=豪华酒店">豪华酒店</a></dd>
					<dd><a href="list.html?type1=住宿&type2=快捷酒店" class="hot">快捷酒店</a></dd>
					<i class="fa fa-angle-right"></i>
					<div class="detail">
						<h3>住宿频道</h3>
						<ul>
							<li><a href="list.html?type1=住宿&type2=经济型">经济型</a></li>
							<li><a href="list.html?type1=住宿&type2=五星级豪华型">五星级豪华型</a></li>
							<li><a href="list.html?type1=住宿&type2=四星级高档型">四星级高档型</a></li>
							<li><a href="list.html?type1=住宿&type2=三星级舒适型">三星级舒适型</a></li>
							<li><a href="list.html?type1=住宿&type2=青年旅社">青年旅社</a></li>
							<li><a href="list.html?type1=住宿&type2=公寓式酒店">公寓式酒店</a></li>
							<li><a href="list.html?type1=住宿&type2=度假村">度假村</a></li>
						</ul>
					</div>
				</dl>
				<dl>
					<dt><a href="list.html?type1=购物">购物</a></dt>
					<dd><a href="list.html?type1=购物&type2=购物中心" class="hot">购物中心</a></dd>
					<dd><a href="list.html?type1=购物&type2=购物街">购物街</a></dd>
					<i class="fa fa-angle-right"></i>
					<div class="detail">
						<h3>购物频道</h3>
						<ul>
							<li><a href="list.html?type1=购物&type2=服饰鞋包">服饰鞋包</a></li>
							<li><a href="list.html?type1=购物&type2=超市便利店">超市便利店</a></li>
							<li><a href="list.html?type1=购物&type2=综合商场">综合商场</a></li>
							<li><a href="list.html?type1=购物&type2=药店">药店</a></li>
							<li><a href="list.html?type1=购物&type2=化妆品">化妆品</a></li>
							<li><a href="list.html?type1=购物&type2=珠宝">珠宝</a></li>
						</ul>
					</div>
				</dl>
				<dl>
					<dt><a href="list.html?type1=休闲娱乐">休闲娱乐</a></dt>
					<dd><a href="list.html?type1=休闲娱乐&type2=KTV" class="hot">KTV</a></dd>
					<dd><a href="list.html?type1=休闲娱乐&type2=洗浴">洗浴</a></dd>
					<i class="fa fa-angle-right"></i>
					<div class="detail">
						<h3>休闲娱乐频道</h3>
						<ul>
							<li><a href="list.html?type1=休闲娱乐&type2=KTV">KTV</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=足疗按摩">足疗按摩</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=私人影院">私人影院</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=洗浴">洗浴</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=酒吧">酒吧</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=网吧网咖">网吧网咖</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=DIY手工坊">DIY手工坊</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=密室">密室</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=轰趴馆">轰趴馆</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=桌游馆">桌游馆</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=茶馆">茶馆</a></li>
							<li><a href="list.html?type1=休闲娱乐&type2=真人CS">真人CS</a></li>
						</ul>
					</div>
				</dl>
			</nav>
			<img src="images/aside.jpg">
		</aside>
		<article ng-controller="getshopList">
			<div class="back-nav">
				<a href="index.html">首页</a>
				<i class="fa fa-angle-right" ng-if="levelOne"></i><a href="list.html?type1={{levelOne}}" ng-if="levelOne">{{levelOne}}</a>
				<i class="fa fa-angle-right" ng-if="levelTwo"></i><a href="list.html?type1={{levelOne}}&type2={{levelTwo}}" ng-if="levelTwo">{{levelTwo}}</a>
			</div>
			<ul>
				<li ng-repeat="item in list">
					<img src="{{item.cover}}">
					<div class="content">
						<h2><a href="detail.html?shopid={{item.shopid}}">{{item.shopname}}</a></h2>
						<div class="resume">
							<span class="star-mark star{{item.score}}">{{item.score}}</span>
							<span class="bor-rgt">{{item.commentsum}}条 点评</span>
							<span>人均 ￥{{item.avg_cost}}</span>
							<dl>
								<dt>位置</dt>
								<dd>{{item.avg_score1}}</dd>
								<dt>环境</dt>
								<dd>{{item.avg_score2}}</dd>
								<dt>性价比</dt>
								<dd>{{item.avg_score3}}</dd>
							</dl>
						</div>
						<address>{{item.address}}</address>
						<div class="comment">
							<p><span>最新评论：</span>{{item.newcomment}}</p>
						</div>
					</div>
				</li>
			</ul>
		</article>
	</div>
	<footer>
		<div>@fantasydl-s-granduation-project</div>
	</footer>
</body>
</html>