html,
body {
	height: 100%;
}

/* 头部 */
header {
	width: 100%;
	height: 150px;
}

/* 登录部分 */
header .login-part {
	width: 100%;
	height: 35px;
	background-color: #F6F6F6;
	font-size: 12px;
	line-height: 35px;
}
header .login-part ul {
	float: right;
	margin-right: 10px;
}
header .login-part ul li {
	float: right;
}
header .login-part ul li a {
	display: block;
	padding: 0 8px;
	height: 100%;
	text-align: center;
}
header .login-part ul li a:hover {
	text-decoration: underline;
}

/* 中间搜索栏部分 */
header .search-part {
	width: 100%;
	height: 80px;
}
header .search-part .logo,
header .search-part .search {
	float: left;
	height: 100%;
}
header .search-part .logo {
	width: 30%;
	padding-left: 30px;
}
header .search-part .logo img {
	width: 170px;
	height: 60px;
	margin-top: 10px;
} 
header .search-part .search .search-bar {
	position: relative;
	width: 400px;
	height: 40px;
	margin: 20px 0 0 30px;
}
header .search-part .search .search-bar input {
	width: 100%;
	height: 100%;
	padding: 5px 50px 5px 10px;
	border: 2px solid #FF7200;
	outline: none;
}
header .search-part .search .search-bar .search-btn {
	position: absolute;
	top: 2px;
	right: 0;
	width: 50px;
	height: 37px;
	background-color: #FF7200;
	color: #FFF;
	line-height: 37px;
	text-align: center;
	cursor: pointer;
}
header .search-part .search .search-bar .search-btn:hover {
	background-color: #FF8400;
}

/* 导航栏部分 */
header .nav-part {
	width: 100%;
	height: 35px;
	background-color: #FF7200;
	font-family: "Microsoft YaHei";
	line-height: 35px;
}
header .nav-part ul {
	width: 100%;
	height: 100%;
}
header .nav-part ul li {
	float: left;
}
header .nav-part ul li a {
	display: block;
	width: 100px;
	height: 100%;
	color: #FFF;
	font-size: 18px;
	text-align: center;
}
header .nav-part ul li a.main {
	width: 207px;
	text-align: left;
	text-indent: 20px;
	border-right: 2px solid #FFF;
}
header .nav-part ul li a.on,
header .nav-part ul li a.tab:hover {
	background-color: #FF8400;
}

/* 主体部分 */
.container {
	width: 100%;
}

/* 侧边导航栏部分 */
.container aside {
	position: relative;
	float: left;
	width: 207px;
	margin-top: 10px;
	border-top: 2px solid #FF7200;
}
.container aside nav >dl {
	width: 100%;
	height: 47px;
	padding: 0 10px 0 20px;
	font-size: 12px;
	line-height: 47px;
	border-right: 1px solid #E9E9E9;
	border-bottom: 1px solid #E9E9E9;
}
.container aside nav >dl:hover {
	border-right: none;
	box-shadow: 3px 3px 5px #E9E9E9;
}
.container aside nav >dl dt,
.container aside nav >dl dd {
	float: left;
}
.container aside nav >dl dt {
	margin-right: 5px;
	font-size: 16px;
	font-weight: bold;
}
.container aside nav >dl dd {
	padding: 0 5px;
}
.container aside nav >dl a {
	display: block;
	width: 100%;
	height: 100%;
}
.container aside nav >dl a.hot,
.container aside nav >dl a:hover {
	color: #FF7200;
}
.container aside nav >dl i {
	float: right;
	width: 10px;
	height: 46px;
	padding-top: 17px;
	color: #BBB;
	font-size: 15px;
}
.container aside nav >dl:hover i {
	position: absolute;
	right: -5px;
	background-color: #FFF;
	color: #FFF;
	z-index: 1999;
}
.container aside nav >dl .detail {
	display: none;
	position: absolute;
	top: -2px;
	left: 206px;
	width: 210px;
	padding: 10px 10px 30px 10px;
	background-color: #FFF;
	border: 1px solid #E9E9E9;
	z-index: 99;
}
.container aside nav >dl:hover .detail{
	display: block;
}
.container aside nav >dl .detail h3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	border-bottom: 1px solid #E9E9E9;
}
.container aside nav >dl .detail li{
	width: 180px;
	height: 30px;
	font-size: 16px;
	text-indent: 10px;
}
.container aside >img{
	margin-top: 20px;
	width: 100%;
}

/* 底部 */
footer {
	width: 100%;
	height: 50px;
	background-color: #F6F6F6;
	line-height: 50px;
}
footer div{
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

/* 评分 */
.star-mark {
	display: inline-block;
	width: 64px;
	height: 14px;
	background-image: url('../images/remark.png');
	background-repeat: no-repeat;
	text-indent: 70px;
}
.star0 {
	background-position: 0 -117px;
}
.star1 {
	background-position: 0 -100px;
}
.star2 {
	background-position: 0 -83px;
}
.star3 {
	background-position: 0 -66px;
}
.star35 {
	background-position: 0 -49px;
}
.star4 {
	background-position: 0 -32px;
}
.star45 {
	background-position: 0 -15px;
}
.star5 {
	background-position: 0 2px;
}