.container {
	width: 900px;
	min-height: 450px;
}
.container header {
	width: 100%;
	height: 54px;
}
.container header .btn-1 {
	float: right;
	display: inline-block;
	width: 130px;
	height: 34px;
	margin: 10px;
	font-size: 17px;
	line-height: 34px;
	text-align: center;
}

.flex-container {
	margin: 10px 0;
	-webkit-column-width: 280px;
	-moz-column-width: 280px;
	-ms-column-width: 280px;
	-o-column-width: 280px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-o-column-break-inside: avoid;
}
.travel-item {
	display: block;
	width: 280px;
	margin: 0 10px 10px 10px;
	border: 1px solid #EEE;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-o-column-break-inside: avoid;
}
.travel-item header {
	width: 100%;
	height: 200px;
	padding: 10px 10px 0 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-o-column-break-inside: avoid
}
.travel-item header img {
	width: 100%;
	height: 150px;
}
.travel-item header a {
	display: block;
	width: 260px;
	height: 30px;
	color: #FF7200;
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.travel-item section {
	width: 100%;
	padding: 0 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-o-column-break-inside: avoid
}
.travel-item section .header {
	height: 20px;
}
.travel-item section .header img {
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.travel-item section .header span {
	line-height: 20px;
	vertical-align: middle;
}
.travel-item section .content {
	width: 100%;
	max-height: 70px;
	margin: 10px 0;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.travel-item section .bottom div {
	float: right;
	margin-right: 10px;
}
.travel-item footer {
	position: relative;
	width: 100%;
	height: auto;
	min-height: 35px;
	max-height: 50px;
	padding: 0 10px;
	line-height: 25px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-ms-column-break-inside: avoid;
	-o-column-break-inside: avoid
}
.travel-item footer img {
	position: absolute;
	top: 0;
	width: 25px;
	height: 25px;
}
.travel-item footer p {
	width: 100%;
	padding-left: 30px;
	overflow: hidden;
	overflow: hidden;
	text-overflow: ellipsis;
}
.travel-item footer p span {
	color: #FF8400;
}

.hidden-text {
	display: none;
}