article {
	width: 900px;
	margin: 10px auto;
}

article h2 {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
}

article input {
	width: 100%;
	height: 40px;
	margin-bottom: 10px;
	border: 2px solid #FF7200;
	text-indent: 10px;
	outline: none;
}
article .cover-img {
	width: 200px;
	height: 150px;
}
article input.cover {
	width: 81px;
	height: auto;
	border: none;
}
article .btn-1 {
	float: right;
	margin: 10px;
	width: 120px;
	height: 35px;
}
article .btn-2 {
	width: 72px;
	height: 22px;
	border-radius: 4px;
}